body {
    background-color:rgba(166, 185, 212, 0.568);
    font-family: Helvetica;
}

.hiddenBtn {
    display:none;
}

input {
    padding: 7px;
    height: 40px;
}

header {
    width: 600px;
    padding: 25px;
    border: 1px solid black;
    background-color: rgba(141, 169, 211, 0.863);
    box-shadow: 2px 2px black;
}

button#viewLeaderboard {
    float: right;
}
li {
    float: left;
    list-style-type: none;
    line-height: 40px;
    width: 70px;
    padding: 25px;
    margin: 10px;
    border: 1px solid black;
    background-color: rgba(141, 169, 211, 0.863);
    box-shadow: 4px 4px black;
}

fieldset {
    margin-bottom: 20px;
    width: 600px;
    padding: 25px;
    border: 1px solid black;
    background-color:rgba(179, 198, 228, 0.863);
    box-shadow: 2px 2px black;
}
